site_name: The Scandinavian Embedding Benchmark
docs_dir: "docs/"
repo_url: https://github.com/KennethEnevoldsen/Scandinavian-Embedding-Benchmark
watch: [src/, docs/]
theme:
  name: material
  favicon: _static/logo.png
  logo: _static/logo.png
  features:
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - toc.follow
  palette:
    primary: white
    accent: light blue
    # automatic dark mode is

markdown_extensions:
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true

copyright: Copyright &copy; 2023 Kenneth Enevoldsen

nav:
  - The Benchmark: index.md
  - Package:
      - Installation: installation.md
      - Getting Started: getting_started.ipynb
      - API: api.md
plugins:
  - mkdocs-jupyter
  - search
  - mkdocstrings:
      handlers:
        python:
          preload_modules: [pydantic]
          paths: [src]
          type: python
          root_package: seb
          docstring_style: google
          options:
            heading_level: 3
            show_source: true
            show_root_heading: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/KennethEnevoldsen/Scandinavian-Embedding-Benchmark
